<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <div>
      <a href="/rock">Play rock</a>
    </div>

    <div>
      <a href="/paper">Play paper</a>
    </div>
    
    <div>
      <a href="/scissors">Play scissors</a>
    </div>

    <%= yield %>

  </body>
</html>
